<html>
  <head>
  <title>TwitterTown Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
  <script src="/scripts/handlebars.min.js"></script>
  <!-- Handlebars Templates -->
  <script id="tweet-template" type="text/x-handlebars-template">
    <div class="row"><h3>Total Tweets: {{statuses.length}}</h3></div>
    <div class="row">
        {{#each statuses}}
            <h4>{{user.location}}</h4>
            <h5><img src="{{user.profile_image_url}}" class="twitter-profile-image" />{{created_at}}: {{text}}</h5>
            <div class="tweet-spacer"></div>
        {{/each}}
    </div>
  </script>
  
  <script id="photogallery-template" type="text/x-handlebars-template">
    <div class="row">
        {{#each statuses}}
            {{#each entities.media}}
                <a href="{{media_url}}"><img src="{{media_url}}" 
                    class="photogallery-image"  style="margin-bottom:5px;" /></a>
            {{/each}}
        {{/each}}
    </div>
  </script>
  
  <script type="text/javascript" lang="javascript">
  
  var tweetTemplateSource = $("#tweet-template").html();
  var tweetTemplate = Handlebars.compile(tweetTemplateSource);
  var photoGalleryTemplateSource = $("#photogallery-template").html();
  var photoGalleryTemplate = Handlebars.compile(photoGalleryTemplateSource);
  
  function searchTwitterHashtag(){
      var searchTerm = $("#searchHashtag").val(); 
      var jsonData = JSON.stringify({ SearchTerm: searchTerm });
      $.ajax({
        method: "POST",
        dataType: "json",
        contentType: "application/json",
        url: "/api/twitter/search/tweets",
        data: jsonData,
      })
      .success(function(tweets) {
        // Bind the returned Tweet data to our dashboard for display.       
        console.log(tweets);
        $("#tweetContainer").html(tweetTemplate(tweets)); 
        $("#photoGalleryContainer").html(photoGalleryTemplate(tweets));
      })
      .error(function(errorMsg){
        console.log("AJAX error!: " + errorMsg);
      });
  }
  </script>
</head>
<body>
  <div style="margin:5px;">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:5px;">
      <h3>Welcome to TwitterTown!</h1>
      Hashtag to analyze: <input type="text" id="searchHashtag" class="text"> &nbsp; 
      <a class="btn btn-primary btn-lg" onclick="searchTwitterHashtag();" role="button">Search</a></p>
    </div>
    <div class="container-fluid">
        <div class="col-md-6" id="tweetContainer"></div>
        <div class="col-md-6" id="photoGalleryContainer"></div> 
    </div>
  </div>
</body>
</html>