body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tweetContainer{
  height:500px;
  overflow: scroll; 
}

#photoGalleryContainer{
  height:500px;
  overflow: scroll; 
}

.photogallery-image{
  max-width: 500px; 
  max-height: 500px;  
}

.twitter-profile-image{
  float: left;
  margin: 0 8px 5px 0;  
}

.tweet-spacer{
    height: 4px; 
    clear: left;
}
